ensemble_last5 (1).csv : LB 0.820  
https://www.kaggle.com/submissions/25947481/25947481.raw

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import json
import glob

from tqdm import tqdm
import seaborn as sns
from collections import Counter

import cv2

In [2]:
raw_pred_df = pd.read_csv("../input/ensemble_last5 (1).csv")
raw_pred_df.shape

(27956, 2)

In [3]:
raw_pred_df.head()

                image                                        predictions
0  000110707af0ba.jpg  fbe2b15b5481 new_individual 0a8709a3df9e 5a199...
1  0006287ec424cb.jpg  1424c7fec826 new_individual c3b7d902e73c e72a5...
2  000809ecb2ccad.jpg  new_individual 1ce3ba6a3c29 50af5f0533c5 82f26...
3  00098d1376dab2.jpg  c4274d90be60 new_individual 164b7f79dcb7 b5db2...
4  000b8d89c738bd.jpg  cf500d3874bc new_individual c88cb1224033 39661...

In [4]:
raw_pred_df.iloc[0].predictions

'fbe2b15b5481 new_individual 0a8709a3df9e 5a199d197c45 9513dd85f0b7 6d1cc6d00dca'

In [5]:
new_pred_lis = []

for i in range(len(raw_pred_df)):
    pred_str = raw_pred_df.iloc[i].predictions
    new_pred_str = pred_str.replace("new_individual","")
    new_pred_lis.append(new_pred_str)

In [6]:
new_pred_df = raw_pred_df.copy()

In [7]:
new_pred_df["predictions"] = new_pred_lis

In [8]:
raw_pred_df.head()

                image                                        predictions
0  000110707af0ba.jpg  fbe2b15b5481 new_individual 0a8709a3df9e 5a199...
1  0006287ec424cb.jpg  1424c7fec826 new_individual c3b7d902e73c e72a5...
2  000809ecb2ccad.jpg  new_individual 1ce3ba6a3c29 50af5f0533c5 82f26...
3  00098d1376dab2.jpg  c4274d90be60 new_individual 164b7f79dcb7 b5db2...
4  000b8d89c738bd.jpg  cf500d3874bc new_individual c88cb1224033 39661...

In [9]:
new_pred_df.head()

                image                                        predictions
0  000110707af0ba.jpg  fbe2b15b5481  0a8709a3df9e 5a199d197c45 9513dd...
1  0006287ec424cb.jpg  1424c7fec826  c3b7d902e73c e72a5024c4ad f0efb5...
2  000809ecb2ccad.jpg   1ce3ba6a3c29 50af5f0533c5 82f26bb1adae b91c12...
3  00098d1376dab2.jpg  c4274d90be60  164b7f79dcb7 b5db2ecef12d 10e758...
4  000b8d89c738bd.jpg  cf500d3874bc  c88cb1224033 396610ad4cc6 d4d2cd...

In [10]:
new_pred_df.to_csv("ensemble_last5(1)_without_new_individual.csv",index=None)